@model projectEAD.Models.Player
@{
    ViewBag.Title = "Add_Player";
}    


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="bootstrap.css" rel="Stylesheet" />
    <script src="bootstrap.js"></script>
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
</head>
    <body >
<div class="row" >
     <div class="col-md-7 col-md-offset-2" style="background-color:whitesmoke">

<nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" >Cricket You Required</a>
        </div>
        <div >
             <ul class="nav navbar-nav">
                <li ><a href="/Home/Index/">Home</a></li>
                <li ><a href="/Schedule/schedule/">Schedule</a></li>
                <li ><a href="/Series/series/">Series</a></li>
                <li ><a href="/News/View_News/">News</a></li>
                <li ><a href="/Photos/photos/">Photos</a></li>
            </ul>
        </div>
    </nav>
<form action="/Admin/addPlayer/" method="post">

    <fieldset>
     <legend>Add New Player</legend>
    <div><label>Name:</label>
      @Html.TextBoxFor(model => model.Name); <br /><br />
      </div>
    <div>
       <label>Age:</label>
     @Html.TextBoxFor(model => model.Age);<br /><br />
        </div>
        <div>
       <label>ODI Matches:</label>
    @Html.TextBoxFor(model => model.ODI_Matches);<br /><br /></div>
        <div>
       <label>Test Matches:</label>
     @Html.TextBoxFor(model => model.Test_Matches);<br /><br /></div>
        <div>
       <label>T20 Matches:</label>
     @Html.TextBoxFor(model => model.T20_Matches);<br /><br /></div>
 <div>
       <label>ODI Average:</label>
     @Html.TextBoxFor(model => model.ODI_Average);<br /><br /></div>
        <div>
       <label>Test Average:</label>
     @Html.TextBoxFor(model => model.Test_Average);<br /><br /></div>
        <div>
       <label>T20 Average:</label>
     @Html.TextBoxFor(model => model.T20_Average);<br /><br /></div>
    <br /><br />

    <input type="submit" value="Add Player" />


</fieldset>
    </form>
         
         </div>
    </div>
        </body>
    </html>